body{
  font-family: 'Roboto', sans-serif !important;
  background-color: #ffffff;
}

p{
  margin: 0;
}

.custom-bg-danger, .card-header-primary{
    background: #EE4540 !important;
}

button.btn.btn-primary {
  background: #EE4540  !important;
}

.sidebar[data-color="purple"] li.active > a{
    background: #EE4540;
}

.logo {
  text-align: center;
}

img.eguide-logo {
  width: 100%;
  max-width: 90px;
  flex: 1;
}

.edit_btn{
  margin-right: 10px;
}

div#studentDataTable_filter label, div#studentNotificationTable_filter label{
  flex-direction: row;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.form__container__login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.form__container__login > div {
  margin: 10px;
}

div#studentDataTable_length label, div#studentNotificationTable_length label {
  flex-direction: row;
  display: flex;
  flex: 1;
  align-items: center;
}

ainput.form-control.form-control-sm {
  padding-left: 10px;
}


div#studentDataTable_length label {
  flex-direction: row;
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  max-width: 110px;
}

select.custom-select.custom-select-sm.form-control.form-control-sm {
  padding-left: 8px;
}

.date__birth__container{
  display: flex;
  align-items: center;
}

.date__birth__container .form-group.bmd-form-group{
  width: 80%;
}

.date__birth__container--title{
  width: 20%;
}

.survey-title {
  margin-top: 15px;
}

.deactivated-exam {
  background-color: rgba(0,0,0,0.1);
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
}

.deactivated-container {
  overflow: hidden;
  position: relative;
}

.student-habit-row {
  padding: 20px;
}

.dashboard__content{
  background-image: url(../img/dashboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.login-background{
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 50px;
}


.bg-login-container {
  background: rgba(0,0,0,0.85);
  width: 720px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #333;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 40px;
}

.student__login__container .form-control-user {
  color: #ffffff;
}

.vision_container, .mission_container {
  background-color: rgba(0,0,0,0.85);
  padding: 20px;
  border-radius: 6px;
  color: #ffffff;
  border: 1px solid #333;
}

img.ue_logo {
  width: 100%;
  max-width: 180px;
}

.main__container {
  margin-top: 60px;
}

a.link_index {
  color: #fff;
  display: block;
  text-align: center;
  border-radius: 7px;
  border: 1px solid #EE4540;
  padding: 20px;
  background-color: #EE4540;
}

.main__container {
  margin: 0 auto;
  margin-top: 60px;
  background: rgba(0,0,0,0.85);
  width: 480px;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid #333;
}


.index__container {
  background: rgba(0,0,0,0.85);
  width: 650px;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid #333;
  color: #ffffff;
  margin-top: 120px;
}

.register__container {
  text-align: -webkit-right;
}

.row.student_login_row > div {
  margin-left: 10px;
  margin-right: 10px;
}

.custom_header_nav {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}

.row.student_login_row {
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.row.custom_header_nav_row {
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.app__logo{
  width: 100%;
  max-width: 130px;
}

.app_logo__left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex: 1;
}

.student__form{
  display: flex;
  flex-direction: row;
}

.student__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.student__form--label {
  padding-right: 10px;
  width: 40%;
  font-size: 12px;
}

.register__container a {
  text-decoration: underline;
  font-size: 12px;
}

.privacy__policy__title {
  color: #000 !important;
}

span.password__description {
  display: block;
  text-align: right;
  font-size: 10px;
}

/* new updates */

.logo__user__container img {
  width: 100%;
  max-width: 100px;
  text-align: center;
}

.logo__user__container {
  text-align: center;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 30px;
}

.dashboard__fillup__container {
  background: #f1f1f1;
  margin: 15px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  display: flex;
}

a.dashboard__fillup__container--link {
    color: #333;
    font-size: 18px;
}

.student__card__body{
  padding-top: 50px !important;
}

.login__spill__container {
  background: rgba(0,0,0,0.85);
  color: #ffff;
  padding: 30px;
  margin-top: 60px;
  border-radius: 8px;
}

.about__container ul li {
  list-style: none;
}
.about__container ul {
  padding: 0px;
  margin: 0px;
}

.col-lg-12.register__container__header {
  padding: 10px 0px;
  justify-content: center;
  flex: 1;
  align-items: center;
}